* { font-family: Verdana; font-size: 8pt; }
body { background-color: #666; }

#selector { position: absolute; left: 500px; top: 5px; }
#deck { position: absolute; top: 300px; width: 546px; padding: 5px; background-color: #444; }
#table { position: absolute; top: 5px; left: 15px; width: 540px; height: 300px; background: url(../images/table-red.png) 0px 0px no-repeat; z-index: -10; }
#community { position: absolute; top: 100px; left: 200px; width: 150px; }
#reset { position: absolute; top: 40px; left: 500px; width: 25px; height: 33px; background: url(../images/cards-1.1.0.png) -114px 0px no-repeat; cursor: hand; }
#reset.disabled { background-position: -138px 0px; }

.seat { position: absolute; width: 84px; }
.seat .odds { position: inherit; top: 38px; width: 100%; background-color: #444; color: #fff; padding: 4px 0px 4px 0px; text-align: center; line-height: 14px; }
.card, .cardspace { position: relative; float: left; background: url(../images/cards-1.1.0.png) 0px 0px no-repeat; width: 19px; height: 35px; text-align: center; font-size: 10pt; margin: 1px; cursor: pointer; z-index: 10; }
.card.selected { background-position: -19px 0px; }
.card.s { background-position: -76px 0px; color: #000; z-index: 20; }
.card.d { background-position: -57px 0px; color: #f00; z-index: 20; }
.card.c { background-position: -38px 0px; color: #000; z-index: 20; }
.card.h { background-position: -95px 0px; color: #f00; z-index: 20; }
.hidden, .cardspace { visibility: hidden; }

#s1 { top: 0px; left: 170px; }
#s2 { top: 0px; left: 280px; }
#s3 { top: 10px; left: 390px; }
#s4 { top: 100px; left: 455px; }
#s5 { top: 200px; left: 390px; }
#s6 { top: 210px; left: 280px; }
#s7 { top: 210px; left: 170px; }
#s8 { top: 200px; left: 60px; }
#s9 { top: 100px; left: -5px; }
#s10 { top: 10px; left: 60px; }