* { font-family: Verdana; font-size: 11pt; }
body { margin: 0; background-color: #555; }        
div.position { width: 90px; height: 80px; padding: 0; }
div.position div.card { position: relative; left: 25px; }
div.position div.odds { position: absolute; top: 38px; width: 82px; height: 30px; color: #fff; background-color: #333; font-size: 8pt; line-height: 15px; padding: 4px; 2px 4px 2px; text-align: center; visibility: hidden; }
div.odds .win, .tie { color: #fff; font-size: 8pt; }
    
div.selected-position { background: url(../images/cards-1.0.0.png) -95px 0px no-repeat; color: #000; }

div.card { width: 19px; height: 35px;  text-align: center; float: left; margin: 1px; font-size: 10pt; cursor: pointer; }
.s { background: url(../images/cards-1.0.0.png) -76px 0px no-repeat; color: #000; }
.h { background: url(../images/cards-1.0.0.png) -19px 0px no-repeat; color: #f00; }
.c { background: url(../images/cards-1.0.0.png) -38px 0px no-repeat; color: #000; }
.d { background: url(../images/cards-1.0.0.png) -57px 0px no-repeat; color: #f00; }
.x { background: url(../images/cards-1.0.0.png) 0 0 no-repeat;  }
    
#table { position: absolute; top: 0px; width: 600px; height: 400px; background: url(../images/table-red.png) 25px 0px no-repeat; }
#deck { position: absolute; top: 290px; left: 20px; width: 550px; height: 75px; padding: 4px; background-color: #333; }

#p1 { position: absolute; top: 10px; left: 202px; }
#p2 { position: absolute; top: 10px; left: 302px; }
#p3 { position: absolute; top: 15px; left: 415px; }
#p4 { position: absolute; top: 110px; left: 480px; }
#p5 { position: absolute; top: 205px; left: 415px; }
#p6 { position: absolute; top: 210px; left: 302px; }
#p7 { position: absolute; top: 210px; left: 202px; }
#p8 { position: absolute; top: 205px; left: 89px; }
#p9 { position: absolute; top: 110px; left: 24px; }
#p10 { position: absolute; top: 15px; left: 89px; }
    
#community { position: absolute; top: 110px; left: 222px; width: 150px; height: 40px; padding: 4px; }
#community #turn { margin-left: 17px; }
#community #river { margin-left: 17px; }
