* { font-family: Verdana; font-size: 11pt; }
body { margin: 0; background-color: #555; }        
    div.player { width: 90px; height: 80px; padding: 0; }
    div.player div.card { position: relative; left: 25px; }
    div.player div.odds { position: absolute; top: 38px; width: 82px; height: 30px; color: #fff; background-color: #333; font-size: 8pt; line-height: 15px; padding: 4px; 2px 4px 2px; text-align: center; }
    div.odds .win, .tie { color: #fff; font-size: 8pt; }
    
    div.selected-position { border: 1px solid #f00; }

    div.card { width: 17px; height: 33px;  text-align: center; float: left; margin: 2px; font-size: 10pt; }
    .s { background: url(../images/cards.png) -68px 0px no-repeat; color: #000; }
    .h { background: url(../images/cards.png) -17px 0px no-repeat; color: #f00; }
    .c { background: url(../images/cards.png) -34px 0px no-repeat; color: #000; }
    .d { background: url(../images/cards.png) -51px 0px no-repeat; color: #f00; }
    .x { background: url(../images/cards.png) 0 0 no-repeat;  }
    
    #table { position: relative; width: 600px; height: 400px; background: url(../images/table.png) 25px 100px no-repeat; }
    #deck { position: absolute; top: 4px; left: 20px; width: 546px; height: 75px; padding: 4px; background-color: #333; }

    #p1 { position: absolute; top: 100px; left: 202px; }
    #p2 { position: absolute; top: 100px; left: 302px; }
    #p3 { position: absolute; top: 105px; left: 415px; }
    #p4 { position: absolute; top: 200px; left: 480px; }
    #p5 { position: absolute; top: 295px; left: 415px; }
    #p6 { position: absolute; top: 300px; left: 302px; }
    #p7 { position: absolute; top: 300px; left: 202px; }
    #p8 { position: absolute; top: 295px; left: 89px; }
    #p9 { position: absolute; top: 200px; left: 24px; }
    #p10 { position: absolute; top: 105px; left: 89px; }
    
    #community { position: absolute; top: 200px; left: 222px; width: 140px; height: 40px; padding: 4px; }
    #community #turn { margin-left: 17px; }
    #community #river { margin-left: 17px; }