#p1 { top: 0px; left: 170px; }
#p2 { top: 0px; left: 280px; }
#p3 { top: 10px; left: 390px; }
#p4 { top: 100px; left: 455px; }
#p5 { top: 200px; left: 390px; }
#p6 { top: 210px; left: 280px; }
#p7 { top: 210px; left: 170px; }
#p8 { top: 200px; left: 60px; }
#p9 { top: 100px; left: -5px; }
#p10 { top: 10px; left: 60px; }

.player .card { left: 3px; }
